html{font-size:312.5%;}
body{color:#333;font-size:.28rem;font-family:arial,Microsoft Yahei;line-height:1.5;-webkit-appearance:none;appearance:none;-webkit-tap-highlight-color:rgba(255,0,0,0);}
blockquote,body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,hr,input,legend,li,ol,p,pre,td,textarea,th,ul{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
img{width:100%;border:none;vertical-align:middle;}
h1,h2,h3,h4,h5,h6{font-weight:400;}
li,ol,ul{list-style:none;}
em,i{font-style:normal;}
img,input{vertical-align:middle;}
input,select,textarea{border:0;border-radius:0;-webkit-tap-highlight-color:transparent;-webkit-appearance:none; font-size:.28rem; font-family:arial,Microsoft Yahei;}
a,textarea:focus{outline:0;}
a{color:#333;text-decoration:none;}
a.current,a:active,a:hover{outline:0;}
input{border:none;}
input:focus,select{outline:0;}
.show{display:block}
.hide{display:none}
.fl{float:left;}
.fr{float:right;}
.clearfix:after{clear:both;display:block;visibility:hidden;height:0;content:".";}
.rel{ position: relative; }
.tc{text-align:center;}
.tover{overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}
.tover2{ overflow: hidden;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;}
.wrap_box{position:relative;overflow:hidden;margin:0 auto;width:100%;height:100%;max-width:640px;min-width:3.2rem;font-size:.28rem;line-height:1.5;}
.pointer_events{pointer-events:none;}
.inb{ display: inline-block; }
.fff{ color:#fff; }
.f20{ font-size:.20rem;}
.f22{ font-size:.22rem;}
.f24{ font-size:.24rem;}
.f26{ font-size:.26rem;}
.f28{ font-size:.28rem;}
.f30{ font-size:.30rem;}
.f32{ font-size:.32rem;}
.f34{ font-size:.34rem;}
.f36{ font-size:.36rem;}
.f38{ font-size:.38rem;}
.f40{ font-size:.40rem;}
.f42{ font-size:.40rem;}
.f44{ font-size:.44rem;}
.f46{ font-size:.40rem;}
.f48{ font-size:.48rem;}
.f50{ font-size:.50rem;}
.col6{ color:#666; }
.col9{ color:#999; }
@-webkit-keyframes rotate{0%{-webkit-transform:rotate(0);}
	to{-webkit-transform:rotate(360deg);}
}
@media screen and (min-width:350px){html{font-size:342%;}}
@media screen and (min-width:410px){html{font-size:400%;}}
@media screen and (min-width:480px){html{font-size:469%;}}
@media screen and (min-width:640px){html{font-size:625%;}}

.mcol{ color:#ff2525; }
.mbg{ background: #ff2525; }
/*登录*/
.login_logo{ position: absolute;width:1rem;left:50%;top:50%; transform: translate(-50%,-50%); }
.login_con{ width:95%; margin:0 auto; }
.login_item{ border-bottom: 1px solid #f4f4f4; padding:.1rem 8%; margin-top: .3rem;}
.login_item input{ line-height: .6rem ;line-height: .6rem; padding-left: .05rem; }
.login_btns{ padding:0 8%; margin-top: 1rem; }
.login_btn{display: block; line-height: .8rem; height: .8rem; border:1px solid #ff2525; width:100%; border-radius: 100px; font-size: .32rem;}
.login_btn1{ box-shadow: 0 10px .1rem #f79c9c; margin-bottom:.5rem;}
.login_ques{ color:#999999; margin:.2rem 0 0 0 ;}
.login_ques a{ color:#20a6d7;  }
.error{ display: none; position: absolute;left:0;bottom:-.35rem;left:8%; font-size: .22rem; color:red; }

/*首页*/
.marquee {height: 1rem; line-height: 1rem; color: #666; background: #fff;  border-bottom: 1px solid #ededed;  box-sizing: border-box; word-break: break-all; white-space: nowrap; padding:0 .3rem;}
.marquee >div { overflow: hidden; }
.marquee >div> span { display: inline-block; padding-left: 100%; /* 从右至左开始轮播 */  -webkit-animation: marquee 16s linear infinite; animation: marquee 16s linear infinite; } 
.marquee_icon { background: url(../images/icons.png) no-repeat left top / auto 5rem;position: absolute;left:-1px;top:50%; width:.5rem; height: .5rem; transform: translateY(-50%);}
 @-webkit-keyframes marquee { 0% { -webkit-transform: translate(0, 0); } 100% { -webkit-transform: translate(-100%, 0); } } 
 @keyframes marquee { 
    0% { transform: translate(0, 0); } 
    100% { transform: translate(-100%, 0); } 
}
.title{ line-height:1.1rem; height: 1.1rem; border-bottom:1px solid #ededed; border-top:.2rem solid #f5f5f5;}
.index_cont{ margin:.3rem .2rem 0 .2rem; }
.index_cont li{ float: left;width:50%; margin-bottom: .3rem; }
.index_cont li a { display: block; }
.index_cont li a img{ width:1rem;height:1rem; border-radius: 100px; border:1px solid #f3f3f3;}
.index_cont li a p{ line-height: 1rem;margin-left: .1rem; font-size: .3rem;  }
.index_rank li{ line-height: .7rem;height: .7rem; border-bottom:1px solid #ededed; padding:0 .2rem; }
.index_rank li p{ position: absolute;left:0;top:0;width:100%; color:#eb0202; }
.index_rank li div{ color:#999; }
.footer { display: flex; position: fixed;left:0;bottom:0;z-index: 9; width:100%; text-align: center; background: #f7f7f7; border-top:1px solid #d9d9d9;}
.footer > a{ flex: 1; color:#999;}
.footer > a >div{ font-size: .5rem; }
.footer > a >p{ margin-top: -.1rem;  font-size: .26rem;}
.footer > a.active{ color:#fe3838; }
.wrap_top{ padding-bottom: 1.3rem; }

/*开奖*/
.title_top{ background:#fc7166; color:#fff; line-height: .8rem; height: .8rem; position: relative;}
.lotter_cont{}
.lot_left{ margin:.1rem 0 0 .2rem;}
.lotter_cont li{ border-bottom:1px solid #eeebeb; padding:.2rem;}
.lotter_cont li a { display: block; }
.lotter_cont li a img{width:1rem; height: 1rem; border-radius: 100px;}
.lotter_cont li a .lot_left p span{ margin-left: .1rem; }
.lot_num{ margin-top: .05rem; }
.lot_num span{background: linear-gradient(#fb7b5c, #fb3b38); display: inline-block;width:.46rem ;height: .46rem; border-radius: 100px; line-height: .46rem; text-align: center; color: #fff; margin-right: .1rem; }
.lot_iconr{ position: absolute;right:0; top:50%; transform: translateY(-50%); }
.title_top .iconback{ position: absolute;left:.2rem;top:50%;transform: translateY(-50%); font-size:.34rem; color:#fff;}
.lotter_dcont li{ border-bottom:1px solid #eeebeb; padding:.3rem .2rem;}
.title_top { z-index: 999; }
/*游戏*/
.gm_lot_left{ margin-top: 0; }
.iconright{position: absolute;right:.2rem;top:50%;transform: translateY(-50%); font-size:.34rem !important; color:#fff;}
.bgf5{ background: #f5f5f5; }
.bgfff{ background: #fff; }
.gameo_num{ padding-bottom: .25rem; border-bottom: 1px solid #ff2525}
.gameo_toptitle{ padding:.25rem .2rem ; }
.gameo_stitle{ padding:.15rem 0; }
.game_stakes{  text-align: right; margin-right: .2rem;}
.game_stakes >i{ font-size: .32rem; width:.55rem; height:.55rem;line-height: .55rem;}
.game_stakes >span{width:.55rem; height:.55rem;line-height: .55rem;}
.game_stakes >i,.game_stakes >span{display: inline-block;margin-bottom:.2rem;color:#fff;  border-radius: 100px;background: linear-gradient(#e4e4e4, #9a9898); text-align: center; margin-right: 2px;}
.game_stakes >i.active{ background: linear-gradient(#fb7b5c, #fb3b38); }
.game_sposl{ position: absolute;left:0;top:0;border-top-left-radius: .1rem;border-bottom-right-radius: .1rem; color:#fff;background: #c5c5c5; font-size: .22rem; padding:.05rem .1rem;}
.gameo_cont li{ margin:0 .2rem .2rem .2rem;padding:.2rem; border:1px solid #c5c5c5; border-radius: .1rem; background: #fff; }
.game_add{ width:2.45rem; background: #fb3e3a; color:#fff; height: .6rem; border-radius: .1rem; }
.gameo_check{ border:1px solid #999; border-radius: 100px; display: inline-block;width:.26rem ;height: .26rem; margin:2px .2rem 0 .1rem; position: relative;}
.gameo_check.active{border:1px solid #79b5f3;}
.gameo_check.active:after{ content: ''; background: #79b5f3; width:.13rem; height: .13rem; position: absolute;left:50%;top:50%; transform: translate(-50%,-50%); border-radius: 100px; }
.gameo_numc{ display: inline-block; width:.28rem; height:.28rem;color:#999;border: 1px solid #999; text-align: center; line-height: .28rem; margin-right: .1rem; }
.gameo_numi{ line-height: .28rem;height:.28rem; color:#333; background: #fff;border: 1px solid #999; margin-right: .1rem;width:.7rem;  text-align: center; font-size: .26rem; }
.gameo_cz li{ margin:0 0 .2rem .2rem; }
.gameo_clearall{ border-radius: 100px; padding: .1rem .4rem; background: #f4a908; color:#875408; }
.game_ls{ background: #fff; padding:.2rem; border-top:1px solid #bfbfbf; }
.game_ls .fl{ padding:.1rem 0 0 0 ; }
.game_tzlist{ margin: 0 .2rem; }
.game_tzlist table{ min-height: 1rem;width:100%;text-align: center; }
.game_tzlist table tr{ padding:0 .2rem; }
.flex{ display: flex; padding:0 .2rem; }
.fx{ flex:1; } 
.gameo_btns{ margin:.3rem  0 0 .2rem; }
.gameo_btns >div{ width:37%; padding:.1rem 0; border-radius: .1rem; }
.gameo_btns .gameo_btns1{background: #fb3e3a; color:#4c0301;  margin-right: 11%;}
.gameo_btns .gameo_btns2{background: #f5c037; color:#5a3f04;  margin-right: .3rem;}
.gameo_list{ width:100%; text-align: center; margin:.3rem 0 0 0 ; }
.gameo_list thead tr th{ background: #fb3e3a; padding:.1rem 0; color:#fff; border:none; }
/*.gameo_list thead tr,.gameo_list tbody tr{ display: flex; width:100% }
.gameo_list thead th,.gameo_list tbody td{ flex:1; }*/
.gameo_list tbody td{ font-size: .20rem; }
.gameo_titles{ line-height: 1.2; display: inline-block;margin:.1rem 0 0 0; }
.gameo_sel{ padding-right: .35rem; font-size: .20rem; }
.gameo_sel:before{ position: absolute;right: 0;top:-1px; }
.select_pop{ position: fixed;width:100%; height:100%; left:0;top:.8rem; z-index: 99 }
.select_title{ background: #fff; }
.select_title li{ width:33.3333%; float: left; font-size: .22rem;}
.select_title li div { padding:.2rem 0; text-align: center; border-bottom: 1px solid #5d5c5c; border-right:1px solid #5d5c5c; }
.gameo_mask{ position: fixed;left:0;top:0; background: rgba(0,0,0,0.7);width:100%;height: 100%; }
.select_title li:nth-child(3n) div{ border-right:none; }
.hint_pop{  }
.hint_title{color:#000; padding:.3rem 0 .1rem 0;}
.hint_cont{ padding:0 .3rem .3rem .3rem; }

.hint_con{width:80%; position:fixed;left:50%;top:50%; transform: translate(-50%,-50%); background: #e9e9e9; border-radius: .1rem;}
.tz_con{width:80%; position:fixed;left:50%;top:50%; transform: translate(-50%,-50%); background: #e9e9e9; border-radius: .1rem;}
.tz_table{ padding:.2rem 0; }
.tz_table table{ width:100%; font-size: .2rem; text-align: center; }
.tz_btn{ display: flex }
.tz_btn div{color:#79b5f3; border-top:1px solid #aeaeae; padding:.2rem 0; flex:1; border-right: 1px solid #aeaeae}
.tz_btn div:nth-child(2){border-right:none; color:#333;}
.hint_btn1{ display: flex }
.hint_btn1 div{color:#79b5f3; border-top:1px solid #aeaeae; padding:.2rem 0; flex:1; border-right: 1px solid #aeaeae}
.hint_btn1 div:nth-child(2){border-right:none; color:#333;}
.tz_allnum{ margin:.2rem 0; }
.gameo_int{width: 100%; padding-bottom: 1rem;}


.my_top{background: linear-gradient(#fb7d70, #fe3c3a); padding: 1rem  0 0 0;}    
.my_tx{width:1.3rem; height:1.3rem; border-radius: 100px; display: block;margin:0 auto;}
.my_toppos{ position: absolute;right:.3rem;top:.3rem;}
.my_toppos span{ display: inline-block;margin-left: .2rem; }
.my_toptitle{background: linear-gradient(#fd5e5a, #fe4f4d); padding:.2rem 0; box-shadow: 0 -.2rem .2rem #fd4d48; margin-top: .4rem;}
.my_titl{ background: #fff; border-bottom: 1px solid #eae7e7; }
.my_titl a:nth-child(1){ border-right:1px solid #eae7e7;  }
.my_titl a{padding:.2rem 0 ;}
.my_titl .my_titl_icon1{ color:#9ac1fb; }
.my_titl .my_titl_icon2{ color:#f77d5d; }
.my_list li{ border-bottom:1px solid #eae7e7; }
.my_list li a{ display: block; padding:.2rem; }
.my_list li a span{ color:#666666; margin-left: .1rem; }
.my_list li a .my_coli{ color:#e0e0e0;}
.my_list li a .my_col1{ color:#fe5754;}
.my_list li a .my_col2{ color:#ffa96a;}
.my_list li a .my_col3{ color:#77a8f9;}
.my_list li a .my_col4{ color:#3797d3;}
.my_list li a .my_col5{ color:#78c931;}
.my_list li a .my_col6{ color:#e3a245;}
.my_list li a .my_col7{ color:#ff9000;}
.my_list li a .my_col8{ color:#e0e0e0;}
.my_list li a .my_col9{ color:#e0e0e0;}
.my_list li a .my_col10{ color:#e0e0e0;}
.my_list1{ border-top: 1px solid #eae7e7 }
.my_line{ height: .2rem; background: #f5f5f5}


